source_up_if_exists direnv

clear_direnv_aliases

isdb-scanner() {
  docker-compose run --rm isdb-scanner isdb-scanner "$@"
}
export_function isdb-scanner

recisdb() {
  docker-compose run --rm isdb-scanner recisdb "$@"
}
export_function recisdb

help() {
  [[ -d .direnv/aliases ]] && ls -1 .direnv/aliases
}
export_function help
